/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/vendor/

/.php_cs
/.php_cs.cache

.idea/

docker-compose.override.yml

/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep

!/var/log
/var/log/*
!var/log/.gitkeep

!/var/logs
/var/logs/*
!var/logs/.gitkeep

!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

/web/bundles/

/.bundle/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml

/bin/*
!bin/console
!bin/symfony_requirements
!bin/.gitkeep
!bin/setup*

/composer.phar

/.vagrant/local.json
/.vagrant/machines/

/web/uploads/*
!web/uploads/media/.gitkeep
/web/robots.txt

/log/

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
